body {
  font-family: sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 20px;

}

.container {
  max-width: 900px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
 text-decoration: none;
 margin-top: 30px;
 border-radius: 5px;
 background-color: #0b0c0e;
color: white;
padding-top: 10px;
width: 80px;
text-align: center;
}




table {
  width: 100%;
  background: white;
  border-collapse: collapse;

}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.spinner {
  width: 50px;
  height: 50px;

  border: 5px solid #ddd;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 50px auto;
  display: block;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}